<div class="container">
  <form class="list-container" [formGroup]="checkListGroup">
    <div class="header">
      <header>Spak CheckList</header>
      <input
        type="text"
        (keyup.enter)="modifyTask()"
        formControlName="inputCtrl"
      />
      <button type="button" (click)="modifyTask()">
        {{
          selectedTask !== null && selectedTask !== undefined ? "modify" : "add"
        }}
      </button>
      <button
        *ngIf="selectedTask !== null && selectedTask !== undefined"
        type="button"
        (click)="cancelUpdate()"
      >
        Cancel
      </button>
    </div>
    <section
      formArrayName="lists"
      class="list-item"
      *ngFor="let item of listFormArray.controls; let i = index"
      (click)="selectTask(i)"
    >
      <ng-container [formGroupName]="i">
        <input
          type="checkbox"
          class="checkbox"
          [id]="i"
          formControlName="isCompleted"
          (click)="$event.stopPropagation(); completeTask(i)"
        />
        <div>
          {{ item.value.content }}
        </div>
        <div (click)="$event.stopPropagation(); deleteTask(i)" class="delete">X</div>
      </ng-container>
    </section>
  </form>
</div>
